p {
    line-height: 1;
    font-size: smaller;
}

.match {
    min-width: 320px;
    min-height: 160px;
    margin-top: 5px;
}

.couple1 {
    min-height: 60px;
}

.couple2 {
    min-height: 60px;
}

.matchResultLeft {
    border-style: solid;
    border-right: gray;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-width: 1px;
}

.matchResultRight {
    border-style: solid;
    border-right: gray;
    border-bottom: gray;
    border-top: gray;
    border-width: 1px;
}

.long-and-truncated {
    // flex: 1;
    // white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}