<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<!-- <form>
        <div class="form-group">
            <label for="rankingName1">Nombre del ranking</label>
            <input type="text" class="form-control" id="rankingName1">
        </div>
        <div class="form-group">
            <label for="rankingDescription1">Descripción</label>
            <input type="text" class="form-control" id="rankingDescription1">
        </div>
        <div class="form-group">
            <label for="startDate1">Inicio</label>
            <input type="date" class="form-check-date" id="startDate1">
        </div>
        <div class="form-group">
            <label for="endDate1">Fin</label>
            <input type="date" class="form-check-date" id="endDate1">
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
    </form> -->
<!-- </div>/ -->