<div class="container-flex mt-3">
    <h3 class="display-5">{{ranking?.name}}</h3>

    <div class="row mt-2">
        <div class="col-12">


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Grupos de ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="couples-tab" data-toggle="tab" href="#couples" role="tab" aria-controls="couples" aria-selected="false">Parejas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="players-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="false">Jugadores</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="groups" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let rg of rankingGroups">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{rg.name}}</h5>
                                <!-- <small>Grupo ???</small> -->
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="couples" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-outline-primary" (click)="addCouple()">
                          <i class="las la-plus-circle"></i>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap m-3">
                        <div class="flex-fill ml-0 mr-1" *ngFor="let couple of couples">
                            <div class="card pareja mt-2">
                                <div class="card-body">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="card-title">{{couple.name}}</h6>
                                        <small>Grupo ???</small>
                                    </div>
                                    <div class="d-flex" *ngFor="let player of couple.users">
                                        <small>{{player.playerName}}</small>
                                    </div>


                                    <!-- <p class="card-text" *ngFor="let player of couple.users">{{player.playerName}}</p> -->
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn pepe" (click)="editCouple(couple)">
                                            <i class="lar la-edit"></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let userInfo of rankingUsers">
                                        <td>
                                            <ngb-highlight [result]="userInfo.playerName"></ngb-highlight>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-couple-form #coupleForm (coupleAction)="refreshCouples($event)"></app-couple-form>
</div>