<modal #myModal modalClass="modal-dialog-centered" class="hide-footer modal_in_modal reduced__modal" [hideCloseButton]="true">
    <modal-header class="col-12 d-flex justify-content-between align-items-center px-3">
        <span class="d-inline mb-0" style="font-weight: bold; font-size: 1.2rem; color: #3f4047">
        {{Title}}
      </span>
        <div class="d-flex align-items-center">
            <a href="" class="text-muted h4 mb-0" (click)="$event.preventDefault(); myModal.close();">
                <i class="la la-close"></i>
            </a>
        </div>
    </modal-header>
    <modal-content>
        <div class="row aling-items-center m-0">
            <ng-container>
                <div class="col-6 align-self-center mb-2 mt-2">
                    <span class="form-text">
                      {{Message}}
                    </span>
                </div>
                <div class="col-12 d-flex justify-content-end mt-3">
                    <button type="button" (click)="cancel()" class="btn btn-cancel font-weight-bold mr-3">
                      No
                    </button>
                    <button class="btn btn-primary font-weight-bold" (click)="ok()">
                      Si
                    </button>
                </div>
            </ng-container>
        </div>
    </modal-content>
</modal>