<p>Gestion de Usuarios</p>
<div class="row">
    <input type="text" name="search" placeholder="Buscar usuarios..." ngModel="" />
    <span><i class="la la-search"></i></span>
</div>
<div class="row">
    <ul class="users">
        <li *ngFor="let userInfo of users" [class.selected]="userInfo === selectedUser" id="{{userInfo.id}}" (click)="onSelect(userInfo)">
            <span class="mb-1">{{userInfo.playerName}}</span>
            <button class="btn" (click)="deleteUser(userInfo)">
            <i class="las la-trash"></i>
        </button>
        </li>
    </ul>
</div>