th {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}

td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}

.las {
    font-size: 20px;
}

.lar {
    font-size: 20px;
}