@mixin responsive {
    @media (max-width: 1020px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1020px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-to-lg {
    @media (max-width: 1200px) {
        @content;
    }
}

.las {
    font-size: 24px;
}

.lar {
    font-size: 24px;
}

.btn-circle {
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #AAA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-circle i {
    padding: 4px;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';