<div class="container-fluid mt-2">
    <div class="d-flex justify-content-end pr-3">
        <button class="btn btn-outline-primary" (click)="addRanking()">
          <i class="las la-plus-circle"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center m-3">
        <div class="row mt-2">
            <div class="col-sm-6" *ngFor="let ranking of rankings">
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ranking.rankingName}}</h5>
                        <p class="card-text">{{ranking.description}}</p>
                        <p class="card-text">Fecha: {{ ranking.startDate | date:'dd/MM/yyyy' }} - {{ranking.endDate | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn" (click)="editRanking(ranking)">
                          <i class="lar la-edit"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-ranking-form #rankingForm (rankingAction)="refresh($event)"></app-ranking-form>
</div>
